.header {
    color:gray;
    text-align: center;
    background-color: silver;
}


.slide_in {
    color: gray;
    margin-top: 0%;
    margin-left: 60%;
    animation: slide_me 0.8s ease-in;
    font-family: "Times New Roman", Times, serif;
}


.container {
    display:flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
}
.small_panel {
    background-color: silver;
    color:gray;
    height: 400px;
    width: 300px;
    font-family: "Times New Roman", Times, serif;
}

.large_panel {
    background-color: silver;
    color: gray;
    height: 500px;
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
}


.center_text {
    text-align: center;
}


h1 {
    background-color: black;
    color: gray;
    text-align: center;
}

h1 + p  {
    background-color: black;
    color: gray;
    text-align: center;
}

body {
    background-color: black;
    color:gray
}
button {
    top:90%;
    margin: auto;
    display: block;
}

.footer {
    background-color: silver;
    color: gray;
    text-align: center;
}

/* key frames = animations - this animates the slide in of the title */
@keyframes slide_me {
    0%{
        transform: skewX(53deg) translateX(-700px);
    }

    100%{
        transition: skewX(0deg);

    }
    
}