.title {
    color: #3C4142;
    margin-top: 5%;
    margin-left: 70%;
    animation: slide_me 0.8s ease-in;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    background-color: black;
    color: gray;
    text-align: center;
}

h1 + p  {
    background-color: black;
    color: gray;
    text-align: center;
}

body {
    background-color: black;
    color:gray
}

@keyframes slide_me {
    0%{
        transform: skewX(53deg) translateX(-800px);
    }

    100%{
        transition: skewX(0deg);

    }
    
}